<!DOCTYPE html>
<html>
<head>
  <title>DocsRoulette</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<h1> Docs Roulette </h1>


<div> <%= link_to "Home", root_path %> </div>
<div> <%= link_to "All Articles", articles_path %> </div>
<%= yield %>


</body>
</html>
